<aside id="sidebar">
    <div class="sidebar"><a href="home.php">Главная страница</a></div>
    <div class="sidebar"><a href="statistics.php">Статистика сайта</a></div>
    <div class="sidebar"><a href="rules.php">Правила игры</a></div>
    <div class="sidebar"><a href="4">Турниры</a></div>
    <div class="sidebar"><a href="3">Лучшие игроки</a></div>
    <div class="sidebar"><a href="4">Лучшие авторы</a></div>
    <div class="sidebar"><a href="4">Пользователи</a></div>
    <div class="sidebar"><a href="4">Форум</a></div>
    <spin class="sidebar"><hr size="1" color="black"></spin>
    <div class="sidebar"><a href="4">Поддеражать</a></div>
</aside>