<header id="header">   
    <div class="header"><a class="header" href="1">Играть</a></div>
    <div class="header"><a class="header" href="1">Создать</a></div>
    <div class="header"><a class="header" href="1">Помощь</a></div>
    <div class="header"><a class="header" href="reviews.php">Отзывы</a></div>
    <div id="enterMenu" class="header">
        {enterCaption}
        <form id ="loginForm" method = 'post' action='../enter.php'>
            <div id="login">
                Логин:
                <input id="editLogin" type="text" name="login" value="" />
            </div>
            <div id="password">
                Пароль:
                <input id="editPassword" type="password" name="password" value="" />
            </div>
            <div>
                <input id="btnEnter" type="submit" value="Войти" />
                <a id="register" href="registration.php" >Зарегестрироваться</a>
            </div>
        </form>
    </div>
</header>