<div id="registration">
    <div id="labelRegister">
        Регистрация
    </div>
    <form id ="registrationForm" method='post'>
        <div class="line">
            Логин:
            <div class="edit">
                <input class="edit" type="text" name="login" value="" />
            </div>
        </div>
        <div class="line">
            Пароль:
            <div class="edit">
                <input class="edit" type="password" name="password" value="" />
            </div>
        </div>
        <div class="line">
            Повторите:
            <div class="edit">
                <input class="edit" type="password" name="repeatPassword" value="" />
            </div>
        </div>
        <div class="line">
            e-mail:
            <div class="edit">
                <input class="edit" type="email" name="email" value="" required/>
            </div>
        </div>
        <input style="font-size: 20px; margin-top: 20px;" type="submit" value="Зарегистрироваться">
    </form>
</div>