<main>
    <h1>Правила игры "Сокобан"</h1>
    <p>Количество игроков: один.</p>
    <p>Элементы игры: кладовщик, пустые поля, ящики, стены.</p>
    <p>Игрок управляет кладовщиком, который умеет передвигаться по пустым полям. Он
         также может толкать ящик, если за ним нет ещё одного ящика.</p>
    <p>Здесь кладовщик может толкать ящик вниз или вправо:</p>
    <p class="pic"><img class="rules" src="/pics/rules0.png"></p>
    <p>В этом случае кладовщик может толкнуть ящик только вниз, так как толкать
          два ящика вместе он не может:</p>
    <p class="pic"><img class="rules" src="/pics/rules1.png"></p>
    <p>Перемещаясь по свободным клеткам, кладовщик может выбрать, какой именно ящик
        он будет передвигать. Здесь он может толкнуть какой-нибудь ящик семью различными
        способами:</p>
    <p class="pic"><img class="rules" src="/pics/rules2.png"></p>
    <p>Цель: поставить все ящики на нужные места.</p>
    <p>Карта вовсе не обязательно должна быть прямоугольной. Она может иметь множество
        поворотов, изгибов, коридоров. А количество ящиков ограничивается лишь
        количеством пустых клеток карты.</p>
    <p>Вот и все правила. Приятной игры!</p>
</main>