<main>
    <h1>Статистика сайта</h1>
    <p>День Рождения сайта: <span class="date">20.02.2021</span></p>
    <p>Сайт живет: <span class="number">2000000 </span>секунд</p>
    <br>
    <p>Зарегестрированных пользователей: <span class="number">1756</span></p>
    <p>Новых пользователей за сегодня: <span class="number">37</span></p>
    <p>Пользователей онлайн: <span class="number">52</span></p>
    <br>
    <p>Решено задач: <span class="number">3880</span></p>
    <p>Опубликовано задач: <span class="number">29</span></p>
    <br>
    <p>Активных пользователей: <span class="number">512</span></p>
</main>